{% comment %}
  Header Snippet

  Parameters:
  - None (static header with promotional banner and navigation)
{% endcomment %}

<!-- Promotional Banner -->
<div class="flex h-14 items-center border-b border-white/10 pl-4 text-sm">
  10% OFF $50+ &nbsp;|&nbsp; 15% OFF $100+ &nbsp;|&nbsp; 20% OFF $200+
</div>

{% render 'nav' %}
