<a
  href="{{ url }}"
  class="flex size-12 items-center justify-center text-white/50 transition-colors hover:text-white hover:[-webkit-text-stroke:0.5px_currentColor] [&>svg]:size-5"
  aria-label="{{ alt }}"
>
  {% render 'icon', name: icon %}
</a>
