{
  "printWidth": 120,
  "plugins": ["@shopify/prettier-plugin-liquid", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.liquid",
      "options": {
        "parser": "liquid-html",
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}