{
  "printWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss", "@shopify/prettier-plugin-liquid"],
  "overrides": [
    {
      "files": "*.liquid",
      "options": {
        "parser": "liquid-html",
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}